@model IEnumerable<BloodDonationProject.Models.bannedUser>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>banUsersList</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:@(Session["DarkMood"].ToString() == "yes" ? "rgb(38, 38, 38)" : "rgb(230, 230, 230)");
               color:@(Session["DarkMood"].ToString() == "yes" ? "white" : "black");">

    <nav style="background-color:rgb(255, 204, 204); height:35px;font-size:16px;font-weight:bold">
        <span style="margin: 10px 10px"> @Html.ActionLink("Home", "Index")</span>
        <span style="margin: 0 30px; display:@(Session["Type"].ToString()  == "Moderator" ? "none": "inline")"> @Html.ActionLink("Add Modaretor", "Create")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("All Reports", "showReports", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Employe List", "AdnModList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("BannedUsers List", "banUsersList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Contact Us", "CreateContactUsList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Chart", "Index", "Chart", "Chart")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Yearly Unban", "UnBanAllView", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Salary Info", "SalaryList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Donners List", "DonnerList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("LogOut", "LogOut", "Admin")</span>
        @Html.ActionLink("Dark Mood", "darkMood")
    </nav>
    <hr />
    <h2>Ban User List</h2>
    @using (Html.BeginForm("searchBanUser", "Admin"))
    {
        <div style="margin:0px 40%">
            <input type="text" id="email" name="email" />
            <input type="submit" value="Search" class="btn btn-default" style="margin:0px 50px" />
            <p style="color:red">@TempData["searchBanUserError"]</p>
        </div>
    }


    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BannedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    @Html.ActionLink("Details", "RepoterInfoFilter", new { email = item.Email })
                </td>
            </tr>
        }

    </table>



</body>
</html>
