@model IEnumerable<BloodDonationProject.Models.userInfo>

<head>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:@(Session["DarkMood"].ToString() == "yes" ? "rgb(38, 38, 38)" : "rgb(230, 230, 230)");
               color:@(Session["DarkMood"].ToString() == "yes" ? "white" : "black");">

    <nav style="background-color:rgb(255, 204, 204); height:35px;font-size:16px;font-weight:bold">
        <span style="margin: 10px 10px"> @Html.ActionLink("Home", "Index")</span>
        <span style="margin: 0 30px; display:@(Session["Type"].ToString()  == "Moderator" ? "none": "inline")"> @Html.ActionLink("Add Modaretor", "Create")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("All Reports", "showReports")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Employe List", "AdnModList")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("BannedUsers List", "banUsersList")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Contact Us", "CreateContactUsList")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Chart", "Index", "Chart")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Yearly Unban", "UnBanAllView")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Salary Info", "SalaryList")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Donners List", "DonnerList")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("LogOut", "LogOut")</span>
        @Html.ActionLink("Dark Mood", "darkMood")
    </nav>
    <h2>Donner Info</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isVerified)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    <img src="~/Content/Images/@item.ProPic" alt="proPic" height="80px" width="80px" style="margin:05px 25px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isVerified)
                </td>

                <td>
                    @*@Html.ActionLink("Varify", "DonnerVarify", new { id = item.userID })*@

                    <a href="@Url.Action("DonnerVarify", "Admin", new { id = item.userID })">
                        @(item.isVerified == "yes" ? "CancleVerified" : "Verify")
                    </a>

                </td>
            </tr>
            <div style="margin: 0px 550px; position:absolute; top:28%; text-align:center">
                <h3>Docoment</h3>
                @*  <img src="~/Content/DocImage/@item.Docoment" alt="proPic" height="420px" width="400px" style="margin:05px 25px" />*@
                <embed src="~/Content/Doc/@item.Docoment" width="800px" height="800px" />
                <br />
            </div>




        }

    </table>

</body>