@model IEnumerable<BloodDonationProject.Models.bannedUser>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>searchBanUser</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Ban User List</h2>
    @using (Html.BeginForm("searchBanUser", "Admin"))
    {
        <div style="margin:0px 40%">
            <input type="text" id="email" name="email" />
            <input type="submit" value="Search" class="btn btn-default" style="margin:0px 50px" />
        </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BannedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    @Html.ActionLink("Details", "RepoterInfoFilter", new { email = item.Email })
                </td>
            </tr>
        }

    </table>
</body>
</html>
