@model BloodDonationProject.Models.bannedUser

<head>

</head>
<body style="background-color:@(Session["DarkMood"].ToString() == "yes" ? "rgb(38, 38, 38)" : "rgb(230, 230, 230)");
               color:@(Session["DarkMood"].ToString() == "yes" ? "white" : "black");">

    <nav style="background-color:rgb(255, 204, 204); height:35px;font-size:16px;font-weight:bold">
        <span style="margin: 10px 10px"> @Html.ActionLink("Home", "Index")</span>
        <span style="margin: 0 30px; display:@(Session["Type"].ToString()  == "Moderator" ? "none": "inline")"> @Html.ActionLink("Add Modaretor", "Create")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("All Reports", "showReports", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Employe List", "AdnModList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("BannedUsers List", "banUsersList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Contact Us", "CreateContactUsList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Chart", "Index", "Chart", "Chart")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Yearly Unban", "UnBanAllView", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Salary Info", "SalaryList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("Donners List", "DonnerList", "Admin")</span>
        <span style="margin: 10px 10px"> @Html.ActionLink("LogOut", "LogOut", "Admin")</span>
        @Html.ActionLink("Dark Mood", "darkMood")
    </nav>
    <hr />
    <div style="text-align:center; font-size:35px">

        <p>Tolat Unbanned now: @TempData["TotalUnbanded"]</p>
        <p>Click The Button For Acion</p>
        <button> @Html.ActionLink("UnBanAll", "UnBanAll")</button>
    </div>
</body>
