@model IEnumerable<BloodDonationProject.Models.Post>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
    <p>
        @Html.ActionLink("Add New Post", "Addpost")
    </p>

<h3 class="text-info">Some Recent Post</h3>

<div class="row">
@foreach (var item in Model)
{
    <div class="col-sm-6">
        <div class="card">
             
            <div class="card-body" style="border:1px solid black; padding:5px; margin: 5px;">
                <h4 class="card-title">Group:
                    <b> @Html.DisplayFor(modelItem => item.WantedBlood)</b>
                </h4>
                <p class="card-text">Hospital Name: @Html.DisplayFor(modelItem => item.HospitalName)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Text)</p>
                <p class="card-text">Posted By: @Html.ActionLink(item.userInfo.Name, "UserDetails", "User", new { id = item.UserId }, null)<p>
                @Html.ActionLink("Details", "PostDetails", new { id = item.PostID }, new {@class = "btn btn-primary" })
            </div>
             
        </div>
    </div>
}
</div>