@model BloodDonationProject.Models.Post

@{
    ViewBag.Title = "Post Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    dt,dd{
        line-height:2;
    }
</style>

<h2>Post Details </h2>

<div>
    <h4>Group: @Model.WantedBlood</h4>
    <hr />
    <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.WantedBlood)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WantedBlood)
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            Post Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            Posted By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.Name)
        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Flag Post", "FlagThisPost", "FlagPost", new { id = Model.PostID }, null) |
    @Html.ActionLink("Back to Post List", "AllPosts", "Post")
</p>
