@model BloodDonationProject.Models.Post

@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PostDetails</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WantedBlood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WantedBlood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userInfo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Flag Post", "FlagThisPost", "FlagPost", new { id = Model.PostID }, null) |
    @Html.ActionLink("Back to Post List", "AllPosts", "Post")
</p>
