@model BloodDonationProject.Models.FlagPost
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FlagThisPost</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav h1 {
                float: left;
                color: whitesmoke;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav h1:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav h1.active {
                    background-color: #4CAF50;
                    color: white;
                }
    </style>
</head>
<body>
    <div class="topnav">
        <h1>@Html.ActionLink("Home", "Index", "Donor")</h1>
        <h1>@Html.ActionLink("Edit", "Edit", "Donor")</h1>
        <h1 class="active">@Html.ActionLink("Post", "Post", "Donor")</h1>
        <h1>@Html.ActionLink("BloodRequest", "BloodRequest", "Donor")</h1>
        <h1>@Html.ActionLink("Users", "Users", "Donor")</h1>
        <h1>@Html.ActionLink("Report", "Report", "Donor")</h1>
        <h1>@Html.ActionLink("Report2", "Report2", "Donor")</h1>
        <h1>@Html.ActionLink("Logout", "Logout", "Admin")</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Flag Post</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.FlagReason, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FlagReason, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FlagReason, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </div>}
    <div>
        @Html.ActionLink("Back to All Posts", "Post", "Donor")
    </div>
</body>
</html>
